---
title: 打造属于自己的IoT套件
customTitle: "true"
description: 打造属于自己的IoT套件 - 可在连接到 Internet 的事物（如传感器、嵌入式设备或智能设备）与IoT套件云服务之间实现安全的双向通信，可以从多个设备收集遥测数据并且存储和分析（实时或者批处理）、可视化数据。
---

<!Doctype html>
<html id="home">

{% include head-header.html %}

<!--  HERO  -->
<section id="hero" class="light-text">
	<main>
		<div id="headlineWrapper">
			<h1>打造属于自己的IoT套件</h1>
			<h5>可在连接到 Internet 的事物（如传感器、嵌入式设备或智能设备）与IoT套件云服务之间实现安全的双向通信，可以从多个设备收集遥测数据并且存储和分析（实时或者批处理）、可视化数据。</h5>
		</div>
		<a href="#" id="quickstartButton" class="button">&nbsp;&nbsp;&nbsp;&nbsp;开&nbsp;&nbsp;始&nbsp;&nbsp;使&nbsp;&nbsp;用&nbsp;&nbsp;&nbsp;&nbsp;</a>
	</main>
</section>

<section id="intro" class="oceanNodes">
	<main>
		<div class="image-wrapper"><img src="images/cloud_connect.png"></div>
		<div class="content">
			<h3><a href="#"></a>基于开放协议和标准打造的IoT套件，可以将设备连接到IoT云服务平台，并使云中的应用程序能够与这些事物进行交互。</h3>
			<p>- 既可以从设备收集和处理遥测数据，又能够远程控制设备，或者实时分析遥测数据并进行可视化处理。</p>
			<p>- 基于行业标准协议：MQTT、CoAP、 HTTP</p>
			<p>- 多种部署方式：公有云、私有云、 传统软件安装</p>
			<p>- 分布式架构：高可用、容错处理、高性能</p>
			<p>- 多租户机制：每个租户下可以支持多个租户管理员和成员，支持百万级设备</p>
		</div>
	</main>
</section>

<section id="dashboard_description">
	<main>
		<h3 class="center">案例分析 - 实时仪表板</h3>
		<div class="content">
			<p class="center"> 基于实际客户案例的反馈，提供了数十种内置的可定制化UI控件；基于这些UI控件，可以快速组装适合不同行业的实时IoT仪表盘。</p>
			<div class="demo-dashboards-carousel">
				<div class="dashboard-item">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/energy-monitoring-dashboard.png">
						</div>
						<a href="#" class="overlay"></a>
					</div>
					<p class="center">可视化实时和历史能源消耗数据，提供定制化用户仪表板，提供基于规则的实时数据分析能力，易于集成第三方应用</p>
					<div class="demoDashboardButton">
						<a href="#" class="button">智慧能源</a>
					</div>
				</div>
				<div class="dashboard-item" style="display: none;">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/silos-monitoring-dashboard.png">
						</div>
						<a href="#" class="overlay"></a>
					</div>
					<p class="center">通过传感器实时收集农业相关的重要数据，如天气温度、湿度、农业设施状态等，提供基于规则的实时数据分析能力，提供定制化用户仪表板</p>
					<div class="demoDashboardButton">
						<a href="#" class="button">智慧农业</a>
					</div>
				</div>
				<div class="dashboard-item" style="display: none;">
					<div class="demoDashboardWrapper">
						<div class="demoDashboard">
							<img src="images/demo/fleet-monitoring-dashboard.png">
						</div>
						<a href="#" class="overlay"></a>
					</div>
					<p class="center"> 通过传感器实时跟踪车辆位置及油耗状态，提供基于规则的实时数据分析能力，提供定制化用户仪表板</p>
					<div class="demoDashboardButton">
						<a href="#" class="button">智慧车联网</a>
					</div>
				</div>
			</div>
		</div>
	</main>
</section>

<section id="thingsboard_feedbacks">
	<main>

	</main>
</section>

<section id="main-features" class="oceanNodes">
	<main>
		<div class="image-wrapper"><img src="images/device_management.png"></div>
		<div class="content">
			<h4>使用IoT套件管理事物</h4>
			<p>事物是特定设备或逻辑实体的表示形式。它可以是物理设备或传感器（例如，灯泡或墙壁上的开关）。此外，它也可以是逻辑实体（如资产），或与其他连接到IoT套件的设备相关的物理实体。</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/visualize.png"></div>
		<div class="content">
			<h4>收集遥测数据并进行可视化处理</h4>
			<p>IoT套件提供了基于行业标准协议的多种连接能力，帮助客户将设备连接到云平台中，并能实时收集遥测数据，并能针对这些数据进行实时分析。遥测数据和分析结果可以以可视化的仪表板方式展现，而且还可以将这些仪表板分享给其他用户查看。</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/process_react.png"></div>
		<div class="content">
			<h4>IoT规则引擎</h4>
			<p>规则引擎提供消息处理及与其他服务进行集成的功能。您可以使用基于脚本语言的规则定义选择消息负载中的数据，处理数据或者将数据发送到其他服务，触发执行其他操作，例如可以使用消息代理面向其他订阅者重新发布消息。</p>
		</div>
	</main>
	<main>
		<div class="image-wrapper"><img src="images/iot-gateway.png"></div>
		<div class="content">
			<h4><a href="/docs/iot-gateway/what-is-iot-gateway/">IoT网关</a></h4>
			<p>便于集成遗留系统或者其他第三方系统中的设备，通过内置的适配器插件可以快速开发其他连接协议（如OPC-UA等）的适配器。</p>
		</div>
	</main>
</section>

<section id="features">
	<main>
		<h3 class="center">主要功能</h3>

		<div class="feature-box">
			<div>
				<h4><a href="#iothub">IoT消息代理</a></h4>
				<p>IoT消息代理是一项发布/订阅代理服务，可与IoT套件相互发送和接收消息。消息代理负责维护由所有客户端会话及每个会话的订阅组成的列表。向主题发布消息时，代理将检查订阅映射到该主题的会话。然后，代理将发布消息转发到目前连接到客户端的所有会话。</p>
			</div>
			<div>
				<h4><a href="#scale">互联网架构</a></h4>
				<p>基于互联网架构，支持理论上无限制的水平扩展，接近零宕机的服务水平，具备高可用、高性能的服务及容错机制。支持Docker和Kubernetes的部署方式，具备多租户机制。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="#shadow">设备管理及设备影子</a></h4>
				<p>IoT套件提供了注册库来帮助您管理设备或者其他事物。设备影子用于存储和检索设备的当前状态信息，可以使用影子服务通过MQTT 或 HTTP 获取和设置事物的状态无论该设备是连接状态还是离线状态。</p>
			</div>
            <div>
				<h4><a href="#security">安全和身份</a></h4>
				<p>支持MQTT与HTTP(s)的传输加密，所连接的每台设备必须拥有凭证才能访问消息代理或设备影子服务。所有的数据流都必须通过传输层安全性 (TLS) 进行加密。必须保证设备凭证的安全，以便安全地将数据发送到消息代理。</p>
			</div>

		</div>

		<div class="feature-box">
			<div>
				<h4><a href="#rule-engine">IoT规则引擎</a></h4>
				<p>提供灵活的规则定义机制，针对设备的属性、遥测数据内容定义规则条件和触发操作。既可以使用基于脚本语言的规则定义选择消息负载中的数据，处理数据或者将数据发送到其他服务，又可以触发执行其他操作，如集成第三方应用等.</p>
			</div>
			<div>
				<h4><a href="#service-discovery">插件式机制</a></h4>
				<p>灵活的插件式机制，便于根据用户的特定需求进行二次定制开发，支持关系型和NoSQL数据库存储。支持定制化开发规则条件过滤器和触发操作，并提供图形化的界面操作，简单易用。</p>
			</div>
		</div>

		<div class="feature-box">
			<div>
				<h4><a href="#visualization">数据可视化</a></h4>
				<p>遥测数据和分析结果可以以可视化的仪表板方式展现，而且还可以将这些仪表板分享给其他用户查看。提供内置的数十种UI控件，如地图控件、流数据等。基于这些UI控件，可以快速组装适合不同行业的实时IoT仪表盘。</p>
			</div>
			<div>
				<h4><a href="#customization">定制与第三方集成</a></h4>
				<p>便于集成遗留系统或者其他第三方系统中的设备，通过内置的适配器插件可以快速开发其他连接协议（如OPC-UA等）的适配器。</p>
			</div>
		</div>


	</main>
</section>

{% include footer.html %}

<style>
	.cse .gsc-control-cse, .gsc-control-cse {
		padding: 0;
	}
</style>

<script type="text/javascript">
	jqueryDefer(initSlick);
	function initSlick() {
		var scriptsList = [
			{src: '/css/slick.min.css', type: 'css'},
			{src: '/css/slick-theme.min.css', type: 'css'},
			{src: '/js/slick.min.js', type: 'script'}
		];
		loadNextScript(0, scriptsList,
				function() {
					$(document).ready(function(){
						var demoDashboardsCarousel = $('.demo-dashboards-carousel');
						$('.dashboard-item', demoDashboardsCarousel).css('display', 'block');
						demoDashboardsCarousel.slick({
							slidesToShow: 1,
							slidesToScroll: 1,
							autoplay: true,
							autoplaySpeed: 5000,
							arrows: true,
							dots: true,
							responsive: [
								{
									breakpoint: 750,
									settings: {
										arrows: false
									}
								}
							]
						});
						var feedbacksCarousel = $('.feedbacks-carousel');
						$('.feedback-item', feedbacksCarousel).css('display', 'block');
						feedbacksCarousel.slick({
							slidesToShow: 1,
							slidesToScroll: 1,
							autoplay: true,
							autoplaySpeed: 20000,
							arrows: true,
							dots: true,
							responsive: [
								{
									breakpoint: 750,
									settings: {
										arrows: false
									}
								}
							]
						});

					});
				}
		);
	}

</script>

</body>
</html>
